doctype html
html 
    head(lang='en')
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            title Natours | #{title}

    body(data-alert=`${alert? alert : ''}`)
        include _header
                
        block content
            h1 This is the base template
            
        include _footer
        
        script(src='/js/bundle/index.js')